.project
.pydevproject

cltools
LADR-2009-11A
paradox3.exe
parsetab.py

log/

*~
*.log
*.aux
*.synctex.gz
*.pyc
*.out
*.p9
*.bak
*.swp

*egg-info/
dist/
build/
venv/
generated/
p9/
output/
provers/
qs/
tptp/
target/ 
